<form [formGroup]="userForm" (ngSubmit)="addUser()" class="mx-auto" style="max-width: 600px;">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" formControlName="name" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" formControlName="email" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">Edad</label>
    <input type="number" formControlName="age" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Añadir</button>
</form>

